<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">RSS Parser | {{ page_title }}</a>
        <ul class="right hide-on-med-and-down">
            {% include 'incs/nav_items.html' %}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {% include 'incs/nav_items.html' %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>
</nav>
