{% extends 'base.html' %}

{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block body %}
{% include 'incs/nav.html' %}

  <!-- Page Layout here -->
<div id="container">
    <div class="row">
      <div class="col s12">
        <div id="card-container" class="row">
            {% for article in object_list %}
                {% include 'feeds/incs/card_article.html' with article=article %}
            {% empty %}
                <div>No articles yet.</div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock body%}
{% block js %}
<script>
(function($){
    $(function(){
  
      $('.sidenav').sidenav();
  
    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>
{% endblock js %}
