{% extends 'base.html' %}

{% block page_title %}Add New feed{% endblock page_title %}
{% block body %}
{% include 'incs/nav.html' %}
<div id="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <h2>Add Feed</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="url" type="text" class="validate{% if form.url.errors %} invalid{% endif %}" name="url" value="{{ form.url.value|default:'' }}">
                                <label for="url">RSS Feed Url</label>
                                {% if form.url.errors %}
                                    {% for e in form.url.errors %}
                                        <span class="helper-text" data-error="{{ e }}"></span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn light-blue lighten-1" type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        {% if tasks %}
            <h2>Rss Feed List</h2>
            {% for t in tasks %}
                <div class="row">
                    <div class="col s8">
                        <span>{{ t.name }}</span>
                    </div>
                    <div class="col s4">
                            <span>
                                {% if t.enabled %}
                                    Active
                                {% else %}
                                    <a href="{% url 'resume-feed-update' t.id %}" class="resume-feed-update">Stopped</a>
                                {% endif %}
                            </span>
                    </div>    
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock body %}