{% extends 'base.html' %}

{% block page_title %}Login{% endblock page_title %}
{% block body %}
<div class="valign-wrapper">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" class="validate" name="username">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" name="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn light-blue lighten-1" type="submit">
                            Login
                            <i class="material-icons right">send</i>
                        </button>
                        <a href="{% url 'registration' %}" style="margin-left: 5px;">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}